In [158]:
import numpy as np
import pandas as pd

In [4]:
df = pd.read_csv("adult.data.csv")

In [9]:
df

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [50]:
df.race.value_counts()

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64

In [146]:
round(df.loc[df['sex'] == "Male", 'age'].mean(),1)

39.4

In [147]:
round((df.loc[df['education'] =="Bachelors", 'education'].count() / df.shape[0]) * 100,1)

16.4

In [142]:
round(df[df.education.isin(filters)].salary.value_counts(normalize=True)[1]*100,1)

46.5

In [143]:
round(df[~df.education.isin(filters)].salary.value_counts(normalize=True)[1]*100,1)

17.4

In [157]:
df['hours-per-week'].min()

1

In [139]:
round(df[df['hours-per-week']==df['hours-per-week'].min()].salary.value_counts(normalize=True)[1]*100,1)

10.0

In [125]:
richCounts = df[df.salary==">50K"].groupby(['native-country']).count().salary

In [126]:
totalCounts = df['native-country'].value_counts()

In [128]:
result = richCounts/totalCounts*100

In [129]:
result.idxmax()

'Iran'

In [140]:
round(result.max(),1)

41.9

In [156]:
df[(df['native-country'] == "India") & (df['salary']==">50K")].occupation.value_counts().idxmax()

'Prof-specialty'